.decision {
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/weworking.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .decision-title {
    width: 696px;
    color: var(--title-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .decision-btn {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .decision-btn:hover,
  .decision-btn:focus {
    outline: none;
    background-color: var(--clients-border);
    color: var(--background-color);
    cursor: pointer;
  }