h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding: 16px 0px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 26px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0px 25px 0px;
  }
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .header > .container {
    justify-content: start;
  }
}
.header__portfolio {
  border-bottom: 1px solid #ECECEC;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__logo {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0px 88px 0px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin: 0px 93px 0px 0px;
  }
}
.header__logo__web {
  color: #2196F3;
}
.header__logo__studio {
  color: #000000;
}
.header__logo:focus {
  outline: none;
}
.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}
.header__items {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__item {
  position: relative;
}
.header__nav {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .header__nav::after {
    bottom: -36.5px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav::after {
    bottom: -33.7px;
  }
}
.header__nav:hover, .header__nav:focus, .header__nav:hover::after, .header__nav:focus::after {
  outline: none;
  opacity: 1;
  color: #2196F3;
}
.header__nav__golovna {
  color: #2196F3;
}
.header__nav__golovna::after {
  content: "";
  opacity: 1;
}
.header__nav__portfolio {
  color: #2196F3;
}
.header__nav__portfolio::after {
  content: "";
  opacity: 1;
}
.header__burger {
  height: 40px;
  background: none;
  border: none;
  display: inline;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger:hover, .header__burger:focus {
  border: none;
  cursor: pointer;
}
.header__burger:hover .header__burger__img, .header__burger:focus .header__burger__img {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196F3;
}
.header__burger__img {
  fill: #000000;
  width: 40px;
  height: 40px;
}

.roster {
  display: flex;
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .roster {
    flex-direction: column;
    gap: 10px;
    margin-left: 96px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .roster {
    flex-direction: row;
    gap: 30px;
    margin-left: 318px;
    display: flex;
  }
}
.roster__item {
  position: relative;
}
.roster__link {
  display: flex;
  gap: 10px;
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .roster__link {
    font-size: 14px;
  }
}
.roster__link::after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
}
.roster__link:hover, .roster__link:focus {
  outline: none;
  color: #2196F3;
}
.roster__link:hover .roster__img, .roster__link:focus .roster__img {
  fill: #2196F3;
}
.roster__img {
  width: 16px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.roster__item:nth-child(2) > .roster__link > .roster__img {
  height: 16px;
}
.roster__item:nth-child(2) > .roster__link > .roster__span {
  width: 122px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  padding: 48px 0px 48px 40px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
}
.menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}
.menu__btn:hover .menu__close__img, .menu__btn:focus .menu__close__img {
  fill: #2196F3;
}
.menu__close__img {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}
.menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.menu__item:first-child {
  margin-bottom: 36px;
}
.menu__item:last-child {
  margin-top: 32px;
}
.menu__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196F3;
}
.menu__list__contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu__item__contact:first-child .menu__link__contact {
  color: #2196F3;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
.menu__item__contact:first-child .menu__link__contact:hover, .menu__item__contact:first-child .menu__link__contact:focus {
  color: #757575;
}
.menu__link__contact {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link__contact:hover, .menu__link__contact:focus {
  color: #2196F3;
}
.menu__list__social {
  display: flex;
  flex-wrap: wrap;
}
.menu__item__social:not(:last-child) {
  margin-right: 10px;
  display: flex;
}
.menu__item__social:not(:last-child)::after {
  content: "";
  width: 1px;
  background: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.menu__link__social {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link__social:hover, .menu__link__social:focus {
  color: #757575;
}

.decision {
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/ofis.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  padding: 118px 0px;
  animation-name: movebcgdecision;
  animation-duration: 250ms;
}
@media screen and (min-width: 1200px) {
  .decision {
    padding: 200px 0px;
  }
}
.decision__title {
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .decision__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .decision__title {
    width: 696px;
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 1.36;
  }
}
.decision__btn {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
}
@media screen and (min-width: 1200px) {
  .decision__btn {
    padding: 10 32px;
  }
}
.decision__btn:hover, .decision__btn:focus {
  outline: none;
  background-color: #AFB1B8;
  color: #2F303A;
  cursor: pointer;
}

.we {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .we {
    padding-bottom: 0px;
  }
}
.we__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.we__item {
  flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .we__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .we__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.we__item:before {
  content: "";
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  display: block;
  border-radius: 4px;
  background-image: url(../img/timer.jpg);
  background-position: center;
}
.we__item:nth-child(1):before {
  background-image: url(../img/antena.jpg);
}
.we__item:nth-child(2):before {
  background-image: url(../img/timer.jpg);
}
.we__item:nth-child(3):before {
  background-image: url(../img/planing.jpg);
}
.we__item:nth-child(4):before {
  background-image: url(../img/kosmonaft.jpg);
}
.we__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .we__title {
    text-align: start;
  }
}
.we__subtitle {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 100%;
}

.make {
  padding-top: 118px;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .make {
    display: block;
  }
}
.make__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.make__items {
  display: flex;
  gap: 30px;
}
.make__item {
  position: relative;
}
.make__img {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}
.make__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  padding: 60px 0px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0px;
  }
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.team__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  padding: 0px 0px 30px 0px;
  flex-basis: calc((100% - 30px) / 1);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__img {
  width: 100%;
  flex-shrink: 0;
}
.team__box__item {
  margin-top: 30px;
  border-radius: 0px 0px 4px 4px;
}
.team__heading {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.team__element__link {
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__element__link:hover, .team__element__link:focus {
  outline: none;
  background-color: #2196F3;
}
.team__element__link:hover .team__element__img, .team__element__link:focus .team__element__img {
  fill: #FFFFFF;
}
.team__element__img {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding: 60px 0px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0px;
  }
}
.clients__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.clients__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  outline: none;
  fill: #2196F3;
  border: 1px solid #2196F3;
}
.clients__img {
  width: 106px;
  height: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer > .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    text-align: start;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    flex-direction: row;
    justify-content: space-between;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    flex-direction: row;
    gap: 93px;
  }
}
.footer__address__box {
  width: 231px;
}
@media screen and (min-width: 1200px) {
  .footer__address__box {
    gap: 70px;
  }
}
.footer__item__big {
  flex-basis: calc((100% - 0px) / 1);
}
.footer__logo:focus {
  outline: none;
}
.footer__logo__web {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__logo__studio {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__address {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__items {
  margin-top: 20px;
}
.footer__item {
  margin-bottom: 9px;
  font-style: normal;
}
.footer__item:last-child {
  margin-bottom: 0px;
}
.footer__link {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__link:focus, .footer__link__white:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .networks {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .networks {
    margin-top: 12px;
  }
}
.networks__title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.networks__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .networks__list {
    justify-content: start;
  }
}
.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 12px 12px 12px 12px;
  background-color: #44454e;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: #2196F3;
  outline: none;
}
.networks__img {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.mailing {
  margin-top: 12px;
}
.mailing__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .mailing__form {
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
  }
}
.mailing__form__box {
  text-align: center;
}
.mailing__form__signature {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 100%;
  display: block;
}
@media screen and (min-width: 1200px) {
  .mailing__form__signature {
    text-align: start;
  }
}
.mailing__form__input {
  width: 450px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .mailing__form__input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__form__input {
    margin-right: 12px;
    width: 358px;
  }
}
.mailing__form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 36px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 20px auto 0px auto;
}
@media screen and (min-width: 1200px) {
  .mailing__form__btn {
    margin-top: 36px;
  }
}
.mailing__form__btn:hover, .mailing__form__btn:focus {
  outline: none;
  background-color: #AFB1B8;
  color: #2F303A;
  cursor: pointer;
}
.mailing__form__btn:hover .mailing__form__img, .mailing__form__btn:focus .mailing__form__img {
  fill: #2F303A;
}
.mailing__form__img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(88, 88, 88, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translateY(100px) skew(10deg, 20deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  width: 370px;
  text-align: center;
  margin: 0px auto;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
@media screen and (max-width: 479px) {
  .modal__title {
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: 448px;
  }
}
.modal__signature {
  width: 100%;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
}
.modal__box {
  position: relative;
}
.modal__input {
  width: 100%;
  height: 40px;
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  outline: none;
  border: 1px solid #2196F3;
}
.modal__input:hover + .input-img, .modal__input:focus + .input-img {
  fill: #2196F3;
}
.modal__img {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 11px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  width: 100%;
  display: block;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  resize: none;
  padding: 12px 16px;
  color: #bababa;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:hover, .modal__textarea:focus {
  border: 1px solid #2196F3;
  outline: none;
}
.modal__chek__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.modal__chekbox {
  height: 15px;
  margin-right: 7px;
}
.modal__text {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.36px;
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}
.modal__link {
  color: #2196F3;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}
@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}
.modal__btn {
  padding: 10px 52px;
  border-radius: 4px;
  background: #188CE8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  display: block;
  margin: 30px auto 0px auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #AFB1B8;
  color: #2F303A;
  cursor: pointer;
  outline: none;
}
.modal__close__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  padding: 6px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close__btn:hover, .modal__close__btn:focus {
  outline: none;
}
.modal__close__btn:hover .modal__close__img, .modal__close__btn:focus .modal__close__img {
  fill: #2196F3;
  cursor: pointer;
}
.modal__close__img {
  width: 18px;
  height: 18px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goods {
  padding-top: 94px;
  padding-bottom: 50px;
}
.goods__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .goods__list {
    width: 100%;
    justify-content: center;
  }
}
.goods__btn {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #F5F4FA;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods__btn:hover, .goods__btn:focus {
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  outline: none;
}
.goods__items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.goods__item {
  width: 100%;
  flex-basis: calc((100% - 0px) / 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods__item:hover, .goods__item:focus-within {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.goods__item:hover .goods__opacity, .goods__item:focus-within .goods__opacity {
  opacity: 1;
  transform: translateY(-294px);
}
@media screen and (min-width: 768px) {
  .goods__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .goods__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.goods__link:focus {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}
.goods__wrraper {
  position: relative;
  overflow: hidden;
}
.goods__img {
  width: 100%;
}
.goods__opacity {
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  padding: 77px 24px;
  top: 294px;
  left: 0px;
  transform: translateY(100%);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 370px) {
  .goods__opacity {
    padding: 20px 10px;
  }
}
@media screen and (min-width: 768px) {
  .goods__opacity {
    height: auto;
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .goods__opacity {
    padding: 63px 24px;
  }
}
.goods__opacity__text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.54px;
}
.goods__box {
  border: 1px solid #EEE;
  border-top: none;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.goods__caption {
  color: #212121;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}
.goods__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */