:root {
    --accent-color: #2196f3;
    --logo-color: #000000;
    --title-color: #ffffff;
    --desk-color: #757575;
    --color: #212121;
    --background-color1: #f5f4fa;
    --background-color: #2f303a;
    --border-color: #eee;
    --border-portfolio: #ececec;
    --clients-border: #afb1b8;
    --footer-border-color: #44454e;
    --modal-color: #212121;
    --modal-border-color: #d3d3d3;
    --modal-placehorlder: #bababa;
    --modal-btn: #188ce8;
  }