.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background-color;


    & > .container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 60px;

        @media screen and (min-width: 768px) {
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: start;
        }
        @media screen and (min-width: 1200px) {
            text-align: start;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: start;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            gap: 165px;
        }
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            gap: 93px;
        }
    }

    &__address__box {
        width: 231px;
        @media screen and (min-width: 1200px) {
            gap: 70px;
        }
    }

    &__item__big {
        flex-basis: calc((100% - 0px) / 1);
    }

    &__logo {

    &:focus {
        outline: none;
    }
    }

    &__logo__web {
        color: $accent-color;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
    }

    &__logo__studio {
        color: $title-color;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
    }

    &__address {
        display: flex;
        justify-content: center;
        color: $title-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    } 

    &__items {
        margin-top: 20px;
    }

    &__item {
        margin-bottom: 9px;
        font-style: normal;
    }

    &__item:last-child {
        margin-bottom: 0px;
    }

    &__link {
        color: $desk-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;

        &:focus, &__white:focus {
            outline: none;
        }
    }

}

.networks {
    @media screen and (min-width: 768px) {
        margin-top: 5px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 12px;
    }


    &__title {
        color: $title-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 10px;

        @media screen and (min-width: 1200px) {
            justify-content: start;
        }
    }

    &__link {
        // display: flex;
        // align-items: center;
        @include flexbox();
        padding: 12px 12px 12px 12px;
        background-color: $footer-border-color;
        border-radius: 50%;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &:hover, &:focus {
            background-color: $accent-color;
            outline: none;
        }
    }

    &__img {
        width: 20px;
        height: 20px;
        fill: $title-color;
    }
}

.mailing {
    margin-top: 12px;


    &__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            justify-content: start;
            flex-wrap: nowrap;
        }


            &__box {
                text-align: center;
            }

            &__signature {
                color: $title-color;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.14;
                letter-spacing: 0.42px;
                text-transform: uppercase;
                width: 100%;
                display: block;

                @media screen and (min-width: 1200px) {
                    text-align: start;
                }
            }

            &__input {
                width: 450px;
                height: 50px;
                border-radius: 4px;
                border: 1px solid rgba(255, 255, 255, 0.30);
                background: rgba(33, 150, 243, 0.00);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                padding-left: 16px;
                margin-top: 20px;

                @media screen and (max-width: 480px) {
                    width: 100%;
                }
                @media screen and (min-width: 1200px) {
                    margin-right: 12px;
                    width: 358px;
                }
            }

            &__btn {
                // display: flex;
                // justify-content: center;
                // align-items: center;
                @include flexbox();
                width: 200px;
                height: 50px;
                color: $title-color;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.88;
                letter-spacing: 0.96px;
                border-radius: 4px;
                background: $accent-color;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                border: none;
                margin-top: 36px;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                margin: 20px auto 0px auto;

                @media screen and (min-width: 1200px) {
                    margin-top: 36px;
                }


                &:hover, &:focus {
                    outline: none;
                    background-color: $clients-border;
                    color: $background-color;
                    cursor: pointer;
                    .mailing__form__img{
                        fill: $background-color;
                    }
                }
            }

            &__img {
                margin-left: 10px;
                width: 24px;
                height: 24px;
                fill: $title-color;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
    }
}